class ReactRallyWaveform extends Component {
  state = {
    frequency: 1,
    amplitude: 1,
    shape: 'sine',
  };

  updateAmplitude = amplitude => {
    this.setState({ amplitude });
  };

  updateFrequency = frequency => {
    this.setState({ frequency });
  };

  updateShape = shape => {
    this.setState({ shape });
  };

  render() {
    const { width, height } = this.props;
    const { frequency, amplitude, shape } = this.state;

    return (
      <Fragment>
        <WaveformCalculator
          shape={shape}
          frequency={frequency}
          amplitude={amplitude}
          width={width}
          height={height}
        >
          {points => <Waveform width={width} height={height} points={points} />}
        </WaveformCalculator>

        <WaveformAxis axis="x" width={width} height={height} />
        <WaveformAxis axis="y" width={width} height={height} />

        <div>
          <Slider
            label="amplitude"
            value={amplitude}
            onChange={this.updateAmplitude}
          />

          <Slider
            label="frequency"
            value={frequency}
            onChange={this.updateFrequency}
          />

          <ButtonGroup
            options={['sine', 'triangle', 'square', 'sawtooth']}
            onChange={this.updateShape}
          />
        </div>
      </Fragment>
    );
  }
}

export default ReactRallyWaveformV1;
