class WaveformStopwatch extends Component {
  static propTypes = {
    isRunning: PropTypes.bool.isRequired,
    frequency: PropTypes.number.isRequired,
    children: PropTypes.func.isRequired,
  };

  state = {
    progress: 0,
    lastTickAt: null,
  };

  componentDidUpdate(prevProps) {
    const isJustStarting = !prevProps.isRunning && this.props.isRunning;

    if (isJustStarting) {
      this.start();
    }
  }

  componentWillUnmount() {
    window.cancelAnimationFrame(this.animationFrameId);
  }

  start = () => {
    this.setState({ lastTickAt: new Date() }, this.tick);
  };

  tick = () => {
    if (!this.props.isRunning) {
      return;
    }

    this.animationFrameId = window.requestAnimationFrame(() => {
      const { frequency } = this.props;
      const { progress, lastTickAt } = this.state;

      const tickAt = new Date();

      const secondsSinceLastTick = (tickAt - lastTickAt) / 1000;
      const periodsSinceLastTick = secondsSinceLastTick * frequency;

      const nextProgressVal = progress + periodsSinceLastTick;

      this.setState(
        { progress: nextProgressVal, lastTickAt: tickAt },
        this.tick
      );
    });
  };

  render() {
    return this.props.children(this.state.progress);
  }
}
