<WaveformCalculator
  shape={shape}
  frequency={frequency}
  amplitude={amplitude}
  width={width}
  height={height}
>
  {points => (
    <Fragment>
      <Waveform
        width={width}
        height={height}
        points={points}
        color={COLORS.blue}
        strokeWidth={4}
      />
      <WaveformAxis
        axis={y}
        width={width}
        height={height}
      />
      <WaveformAxis
        axis={x}
        width={width}
        height={height}
      />
    </Fragment>
  )}
</WaveformCalculator>;
