class Waveform extends Component {
  static propTypes = {
    shape: PropTypes.oneOf([
      'sine',
      'triangle',
      'square',
      'sawtooth',
    ]),
    frequency: PropTypes.number.isRequired,
    amplitude: PropTypes.number.isRequired,
    color: PropTypes.string.isRequired,
    strokeWidth: PropTypes.number.isRequired,
  };

  render() {
    const {
      shape,
      frequency,
      amplitude,
      color,
      strokeWidth,
    } = this.props;

    return (
      <svg style={{ overflow: 'visible' }}>
        <path
          // Come up with a path somehow
          d={'???'}
          fill="none"
          stroke={color}
          strokeWidth={strokeWidth}
        />
      </svg>
    );
  }
}
