class WaveformCalculator extends PureComponent {
  static propTypes = {
    width: PropTypes.number.isRequired,
    height: PropTypes.number.isRequired,
    shape: PropTypes.oneOf(VALID_SHAPES),
    frequency: PropTypes.number.isRequired,
    amplitude: PropTypes.number.isRequired,
    children: PropTypes.func.isRequired,
  };

  render() {
    const {
      width,
      height,
      shape,
      frequency,
      amplitude,
      children,
    } = this.props;

    return (
      <Motion
        style={{
          amplitude: spring(amplitude),
          frequency: spring(frequency),
        }}
      >
        {({ amplitude, frequency }) => {
          const points =
            getPointsForWaveform({
              shape,
              frequency,
              amplitude,
              width,
              height,
            });

          return children(points);
        }}
      </Motion>
    );
  }
}
