class Waveform extends Component {
  static propTypes = {
    width: PropTypes.number.isRequired,
    height: PropTypes.number.isRequired,
    shape: PropTypes.oneOf([
      'sine',
      'triangle',
      'square',
      'sawtooth',
    ]),
    frequency: PropTypes.number.isRequired,
    amplitude: PropTypes.number.isRequired,
    timeElapsed: PropTypes.number.isRequired,
    color: PropTypes.string.isRequired,
    strokeWidth: PropTypes.number.isRequired,
  };

  render() {
    const {
      width,
      height,
      shape,
      frequency,
      amplitude,
      timeElapsed,
      color,
      strokeWidth,
    } = this.props;

    return (
      <Spring to={{ amplitude, frequency }}>
        {(sprung) => {
          const points =
            getPointsForWaveform({
              shape,
              frequency: sprung.frequency,
              amplitude: sprung.amplitude,
              timeElapsed,
              width,
              height,
            });

          const definition =
            convertPointsToPath(
              points
            );

          return (
            <svg
              width={width}
              height={height}
            >
              <path
                d={definition}
                fill="none"
                stroke={color}
                strokeWidth={strokeWidth}
              />
            </svg>
          );
        }}
      </Spring>
    );
  }
}
