class Waveform extends Component {
  static propTypes = {
    width: PropTypes.number.isRequired,
    height: PropTypes.number.isRequired,
    shape: PropTypes.oneOf([
      'sine',
      'triangle',
      'square',
      'sawtooth',
    ]),
    frequency: PropTypes.number.isRequired,
    amplitude: PropTypes.number.isRequired,
    color: PropTypes.string.isRequired,
    strokeWidth: PropTypes.number.isRequired,
  };

  render() {
    const {
      width,
      height,
      shape,
      frequency,
      amplitude,
      color,
      strokeWidth,
    } = this.props;

    return (
      <svg
        width={width}
        height={height}
      >
        <path
          // Come up with a path somehow
          d={'???'}
          fill="none"
          stroke={color}
          strokeWidth={strokeWidth}
        />
      </svg>
    );
  }
}
