import React, { Component } from 'react';
import PropTypes from 'prop-types';

class Waveform extends Component {
  static propTypes = {
    width: PropTypes.number.isRequired,
    height: PropTypes.number.isRequired,
    shape: PropTypes.oneOf([
      'sine',
      'triangle',
      'square',
      'sawtooth',
    ]),
    frequency: PropTypes.number.isRequired,
    amplitude: PropTypes.number.isRequired,
  };

  render() {
    const {
      width,
      height,
      shape,
      frequency,
      amplitude,
    } = this.props;

    const points = getPointsForWaveform({
      shape,
      frequency,
      amplitude,
      width,
      height,
    });

    const svgPath = convertPointsToPath(points);

    return (
      <svg
        width={width}
        height={height}
        style={{ overflow: 'visible' }}
      >
        <path
          d={svgPath}
          stroke="black"
          fill="none"
        />
      </svg>
    );
  }
}

export default Waveform;
