class WaveformCalculator extends Component {
  static propTypes = {
    shape: PropTypes.oneOf(VALID_SHAPES),
    width: PropTypes.number.isRequired,
    height: PropTypes.number.isRequired,
    frequency: PropTypes.number.isRequired,
    amplitude: PropTypes.number.isRequired,
    children: PropTypes.func.isRequired,
  };

  render() {
    const {children, ...waveformData} = this.props;

    const points = getPointsForWaveform(waveformData);

    return children(points);
  }
}
