class Waveform extends Component {
  static propTypes = {
    width: PropTypes.number.isRequired,
    height: PropTypes.number.isRequired,
    points: PropTypes.array.isRequired,
    color: PropTypes.string.isRequired,
    strokeWidth: PropTypes.number.isRequired,
  };

  render() {
    const {
      width,
      height,
      points,
      color,
      strokeWidth,
    } = this.props;

    const svgPath = convertPointsToPath(
      points
    );

    return (
      <svg
        width={width}
        height={height}
      >
        <path
          d={svgPath}
          fill="none"
          stroke={color}
          strokeWidth={strokeWidth}
        />
      </svg>
    );
  }
}

export default Waveform;
