const Demo = () => (
  <WaveformState>
    {({ amplitude, updateAmplitude }) => (
      <Fragment>
        <div>
          Amplitude:
          <strong>{amplitude}</strong>
        </div>

        <Slider
          min={0}
          max={1}
          step={0.01}
          onChange={updateAmplitude}
        />
      </Fragment>
    )}
  </WaveformState>
);

render(<Demo />);
