const WIDTH = 400;
const HEIGHT = 200;

const Demo = () => (
  <WaveformCalculator
    shape="sine"
    width={WIDTH}
    height={HEIGHT}
    frequency={1}
    amplitude={1}
  >
    {points => (
      <pre>
        {JSON.stringify(points, null, 2)}
      </pre>
    )}
  </WaveformCalculator>
);

render(<Demo />);
