class ReactRallyWaveform extends Component {
  render() {
    const { width, height } = this.props;

    return (
      <WaveformState>
        {({
          amplitude,
          frequency,
          shape,
          updateAmplitude,
          updateFrequency,
          updateShape,
        }) => (
          <Fragment>
            <Waveform
              shape={shape}
              amplitude={amplitude}
              frequency={frequency}
              width={width}
              height={height}
              color={COLORS.blue}
              strokeWidth={4}
            />

            <WaveformAxis
              axis="x"
              width={width}
              height={height}
            />
            <WaveformAxis
              axis="y"
              width={width}
              height={height}
            />

            <div>
              <Slider
                label="amplitude"
                value={amplitude}
                onChange={updateAmplitude}
              />

              <Slider
                label="frequency"
                value={frequency}
                onChange={updateFrequency}
              />
            </div>

          </Fragment>
        )}
      </WaveformState>
    );
  }
}

export default ReactRallyWaveformV1;
