<Waveform
  width={500}
  height={250}
  points={[
    { x: 0, y: 0 },
    { x: 2, y: 0.13 },
    { x: 4, y: 0.17 },
    { x: 6, y: 0.21 },
    /* ... */
    { x: 500, y: 0 },
  ]}
  color={COLORS.blue}
  strokeWidth={4}
/>;
