class Waveform extends Component {
  static propTypes = {
    width: PropTypes.number.isRequired,
    height: PropTypes.number.isRequired,
    shape: PropTypes.oneOf([
      'sine',
      'triangle',
      'square',
      'sawtooth',
    ]),
    frequency: PropTypes.number.isRequired,
    amplitude: PropTypes.number.isRequired,
    color: PropTypes.string.isRequired,
    strokeWidth: PropTypes.number.isRequired,
  };

  render() {
    const {
      width,
      height,
      shape,
      frequency,
      amplitude,
      color,
      strokeWidth,
    } = this.props;

    const points = getPointsForWaveform({
      shape,
      frequency,
      amplitude,
      width,
      height,
    });
    /*
      [
        { x: 0, y: 0 },
        { x: 2, y: 22 },
        ...
        { x: 500, y: 0 },
      ]
    */

    const svgPath = convertPointsToPath(
      points
    );
    /*
      "M0,0 L2,22 ... L500,0"
    */

    return (
      <svg
        width={width}
        height={height}
      >
        <path
          d={svgPath}
          fill="none"
          stroke={color}
          strokeWidth={strokeWidth}
        />
      </svg>
    );
  }
}

export default Waveform;
