<WaveformCalculator
  shape="sine"
  frequency={1}
  amplitude={0.5}
  width={width}
  height={height}
>
  {points => (
    <Waveform
      width={width}
      height={height}
      points={points}
      color={COLORS.blue}
      strokeWidth={4}
    />
  )}
</WaveformCalculator>;
