const Demo = () => (
  <Value initial={0}>
    {({ value, set }) => (
      <>
        <div>
          Value:
          <strong>{value}</strong>
        </div>

        <Spring to={{ value }}>
          {(interpolated) => (
            <div>
              Value (spring):
              <strong>
                {Math.round(interpolated.value)}
              </strong>
            </div>
          )}
        </Spring>

        <Slider onChange={set} />
      </>
    )}
  </Value>
);

render(
  <div style={{ padding: 35 }}>
    <Demo />
  </div>
);

