const Demo = () => (
  <Value initial={1}>
    {({ value, set }) => (
      <Timekeeper
        runOnMount={true}
        multiplier={value}
      >
        {({ timeElapsed }) => (
          <>
            Time Elapsed: {timeElapsed}
            <br /><br />
            <input
              type="number"
              value={value}
              onChange={ev =>
                set(ev.target.value)
              }
            />
          </>
        )}
      </Timekeeper>
    )}
  </Value>
);

render(<Demo />);
